.facebook-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #1c1e21;
  width: 484px;
}

.facebook-logo {
  margin-left: -26px;
  margin-top: 182px;
}
.email-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.363);
  padding: 10px;
  margin-bottom: 15px;
}

.email-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  border: 0;
}

.text-field-r {
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 0px 9px 0px rgba(0, 0, 0, 0.64);
}

.submit-button {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: #156fe5;
  color: #fff;
  text-align: center;
}

.forgot {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #156fe5;
  margin-bottom: 25px;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.116);
  margin-bottom: 25px;
}

.create-button {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background: #36a421;
  color: #fff;
  text-align: center;
}

.relative {
  position: relative;
}

.absulate {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}
